#welcome {
  text-align: center;
  padding: 3rem 1rem;
}
#why {
  display: flex;
  gap: 2rem;
}
#field-notes span,
#field-notes strong,
#field-notes a {
  outline: 2px dashed darkorange;
}

#field-notes div,
#field-notes p {
  outline: 2px solid seagreen;
}